.main{
    padding: 40px 30px;
    background-color:#f0eeee;   
    margin-top: 60px;

}

.breadcrumb-list{
    font-size: 18px;
}
.breadcrumb-items{
    list-style-type: none;
    padding-left: 5px;
}
.breadcrumb-items:nth-child(n+2):before {
    content: "/";
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
}

.products{
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-item{
    /* flex: 1 1 25%; */
    padding: 10px;
    border-radius: 20px;
    width: 317px;
    background-color: #ffff;
    margin: 20px 0;
}

.product-des{
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 20px;

}
.product-price{
    text-align: center;    
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    color: #7366ff; 
}
.product-title{
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 20px;
    color: #7366ff; 
}
.product-img img{
    width: 100%;
    height: 320px;
}
.button-handle{
    background-color: #ffff;
    margin-right: 10px;
    border: 1px #c7c2c2;
    cursor: pointer;
}
.change-button{
    margin: 20px 0;
}
.button-handle svg{
    font-size: 30px;
    /* background-color: #fff; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px;
}
.button-handle svg{
    color: #c7c2c2;
}
.button-handle:focus{
    outline: none;
    background-color: #ecdddd;
}

.form-filter{
    display: flex;
    width: 40%;
}
.search-form{
    width: 100%;
}
.search-form input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.search-form input:focus{
    outline: none;
}

