html{
  font-size: 10px;
}

html,
body{
  height: 100%;
}

*, ::before , ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}

a{
  text-decoration: none;
}

a,a:hover{
  transition: all 0.4s ease-in-out;
}
.flex{
  display: flex;
}
.between{
  justify-content: space-between;
}
.block{
  display: block;
}

/* responsive */
@media only screen and (max-width: 694px) {
  .menu-button {
    display: none;
  }
  .nav-menus-items {
    margin: 0 auto!important;
  }
  .res-page-title{
    flex-direction: column;
  }
  .res-page-title .title{
    margin-bottom: 10px;
  }
  .breadcrumb {
    justify-content: right;
  }
  .feature-product{
    display: none;
  }
  .form-filter{
    width: 100%!important;
  }
  .products {
    justify-content: center!important;
}
}

@media only screen and (max-width: 1011px) and (min-width: 694px){
  .feature-product{
    display: none;
  }
  .products {
    justify-content: space-around!important;
}
}